# PYTHON DATAYPES

In [1]:
a = 5
type(a)

int

In [2]:
a1 = 10
type(a1)

int

In [3]:
a2 = 10.5
type(a2)

float

In [5]:
a3 = 10
a4 = 5.5
print(type(a3))
print(type(a4))

<class 'int'>
<class 'float'>

In [7]:
a5 = 1+2j
type(a5)

complex

In [8]:
a6 = "Hello"
type(a6)

str

In [9]:
b = True
type(b)

bool

In [10]:
b1 = False
type(b1)

bool

In [12]:
b2 = 10e0
type(b2)

float

In [15]:
b3 = '20'
type(b3)

str

# TYPE CASTING

### CONVERTING INTEGER INTO OTHER DATATYPE

In [13]:
a = 10
float(a)

10.0

In [14]:
a1 = 50
str(a1)

'50'

In [16]:
a2 = 20
bool(a2)

True

In [17]:
a3 = 0
bool(a3)

False

In [18]:
a4 = 15
complex(a4)

(15+0j)

In [19]:
print(type(a))
print(type(a1))
print(type(a2))
print(type(a3))
print(type(a4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### CONVERTING FLOAT INTO OTHER DATATYPE

In [20]:
b = 10.5
int(b)

10

In [21]:
b1 = 20.5
str(b1)

'20.5'

In [23]:
b1
bool(b1)

True

In [24]:
b3 = 5
complex(b3)

(5+0j)

### CONVERTING STRING INTO OTHER DATATYPE

### we can convert string with numerical data but we cannot convert string with categorical data

In [25]:
a = "hello"
int(a)

ValueError: invalid literal for int() with base 10: 'hello'

In [27]:
print(bool(a))

True

In [28]:
print(complex(a))

ValueError: complex() arg is a malformed string

In [29]:
print(float(a))

ValueError: could not convert string to float: 'hello'

In [31]:
a1 = "10"
int(a1)

10

In [32]:
print(float(a1))

10.0

In [33]:
print(bool(a1))

True

In [34]:
print(complex(a1))

(10+0j)

### CONVERTING COMPLEX INTO OTHER DATATYPE

### we cannot convert complex into all other datatypes except string and boolean

In [35]:
b = 10+5j
int(b)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [36]:
print(float(b))

TypeError: float() argument must be a string or a real number, not 'complex'

In [39]:
str(b)

'(10+5j)'

In [38]:
print(bool(b))

True

### CONVERTING BOOLEAN INTO OTHER DATATYPES

In [40]:
c = True
print(int(c))

1

In [41]:
print(float(c))

1.0

In [43]:
str(c)

'True'

In [44]:
complex(c)

(1+0j)

In [45]:
c1 = False
int(c1)

0

In [46]:
float(c1)

0.0

In [47]:
str(c1)

'False'

In [48]:
complex(c1)

0j