### DICTIONARY

In [1]:
my_dict = {}

In [2]:
type(my_dict)

dict

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
d1 = {'a':'one' , 'b':'two' , 'c':'three'}
d1

{'a': 'one', 'b': 'two', 'c': 'three'}

In [6]:
d2 = {1:'one' , 'A':'two' , 3:'three'}
d2

{1: 'one', 'A': 'two', 3: 'three'}

In [12]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
mydict.keys()

dict_keys([1, 2, 3])

In [11]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [17]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [13]:
d1

{'a': 'one', 'b': 'two', 'c': 'three'}

In [9]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [14]:
d1.values()

dict_values(['one', 'two', 'three'])

In [18]:
d1.items()

dict_items([('a', 'one'), ('b', 'two'), ('c', 'three')])

In [15]:
d2

{1: 'one', 'A': 'two', 3: 'three'}

In [10]:
d2.keys()

dict_keys([1, 'A', 3])

In [16]:
d2.values()

dict_values(['one', 'two', 'three'])

In [19]:
d2.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [20]:
d3 = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
d3

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [21]:
d4 = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'],'B': ('Bat', 'cat', 'hat')}
d4

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [23]:
keys = {'A','B','C','D'}

d5 = dict.fromkeys(keys)
d5

{'A': None, 'C': None, 'B': None, 'D': None}

In [25]:
keys = {'A','B','C','D'}
value = 10
d6 = dict.fromkeys(keys,value)
d6

{'A': 10, 'C': 10, 'B': 10, 'D': 10}

In [26]:
keys = {'A','B','C','D'}
value = 10,20,30,40
d7 = dict.fromkeys(keys,value)
d7

{'A': (10, 20, 30, 40),
 'C': (10, 20, 30, 40),
 'B': (10, 20, 30, 40),
 'D': (10, 20, 30, 40)}

In [27]:
keys = {'A','B','C','D'}
value = [10,20,30]
d8 = dict.fromkeys(keys,value)
d8

{'A': [10, 20, 30], 'C': [10, 20, 30], 'B': [10, 20, 30], 'D': [10, 20, 30]}

In [28]:
keys = {'A','B','C','D'}
value = {10,20,30}
d9 = dict.fromkeys(keys,value)
d9

{'A': {10, 20, 30}, 'C': {10, 20, 30}, 'B': {10, 20, 30}, 'D': {10, 20, 30}}

In [29]:
type(d9)

dict

### ACCESSING ITEMS

In [33]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [34]:
mydict[1]

'one'

In [36]:
mydict[2]

'two'

In [40]:
mydict.get(3)

'three'

In [41]:
mydict.get(1)

'one'

In [37]:
d1

{'a': 'one', 'b': 'two', 'c': 'three'}

In [38]:
d1['a']

'one'

In [39]:
d1['c']

'three'

In [42]:
d1.get('b')

'two'

In [43]:
d3

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [44]:
d3.get('A')

['asif', 'john', 'Maria']

### ADD,REMOVE & CHANGE ITEMS

In [45]:
a = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
a

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [46]:
a['DOB'] = 1995
a['Address'] = 'Hyderabad'

In [47]:
a

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hyderabad'}

In [48]:
dict1 = {'ID': 56789}
a.update(dict1)

In [49]:
a

{'Name': 'Asif', 'ID': 56789, 'DOB': 1995, 'Address': 'Hyderabad'}

In [50]:
a['Job'] = 'Data scientist'
a

{'Name': 'Asif',
 'ID': 56789,
 'DOB': 1995,
 'Address': 'Hyderabad',
 'Job': 'Data scientist'}

In [52]:
d1

{'a': 'one', 'b': 'two', 'c': 'three'}

In [53]:
d1.pop('c')

'three'

In [54]:
d1

{'a': 'one', 'b': 'two'}

In [55]:
d5

{'A': None, 'C': None, 'B': None, 'D': None}

In [56]:
d5.pop('B')

In [57]:
d5

{'A': None, 'C': None, 'D': None}

In [58]:
d3

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [59]:
d3.pop(1)

'one'

In [60]:
d3

{2: 'two', 'A': ['asif', 'john', 'Maria']}

In [61]:
d4

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [62]:
d4.popitem()

('B', ('Bat', 'cat', 'hat'))

In [63]:
d4

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [64]:
d6

{'A': 10, 'C': 10, 'B': 10, 'D': 10}

In [65]:
d6.popitem()

('D', 10)

In [66]:
d6

{'A': 10, 'C': 10, 'B': 10}

In [68]:
del(d6['C'])
d6

{'A': 10, 'B': 10}

In [69]:
d9

{'A': {10, 20, 30}, 'C': {10, 20, 30}, 'B': {10, 20, 30}, 'D': {10, 20, 30}}

In [70]:
del(d9['D'])
d9

{'A': {10, 20, 30}, 'C': {10, 20, 30}, 'B': {10, 20, 30}}

In [72]:
d1

{'a': 'one', 'b': 'two'}

In [73]:
d1.clear()

In [74]:
d1

{}

In [75]:
len(d1)

0

In [76]:
d2

{1: 'one', 'A': 'two', 3: 'three'}

In [77]:
d1 = d2

In [78]:
d1

{1: 'one', 'A': 'two', 3: 'three'}

In [79]:
d2

{1: 'one', 'A': 'two', 3: 'three'}

In [80]:
id(d1),id(d2)

(2243156607872, 2243156607872)

In [82]:
d = {}

In [83]:
d = d1.copy()
d

{1: 'one', 'A': 'two', 3: 'three'}

In [84]:
id(d),id(d1)

(2243162793728, 2243156607872)

In [85]:
d1

{1: 'one', 'A': 'two', 3: 'three'}

In [86]:
d2

{1: 'one', 'A': 'two', 3: 'three'}

In [87]:
d2[5] = 'four'

In [88]:
d2

{1: 'one', 'A': 'two', 3: 'three', 5: 'four'}

In [89]:
d1

{1: 'one', 'A': 'two', 3: 'three', 5: 'four'}

### LOOP THROUGH DICTIONARY

In [92]:
a

{'Name': 'Asif',
 'ID': 56789,
 'DOB': 1995,
 'Address': 'Hyderabad',
 'Job': 'Data scientist'}

In [95]:
for i in a:
    print(i, ':',a[i])

Name : Asif
ID : 56789
DOB : 1995
Address : Hyderabad
Job : Data scientist

In [96]:
d1

{1: 'one', 'A': 'two', 3: 'three', 5: 'four'}

In [97]:
for i in d1:
    print(i, ':', d1[i])

1 : one
A : two
3 : three
5 : four

In [100]:
d5

{'A': None, 'C': None, 'D': None}

In [101]:
for i in d5:
    print(i, ':' ,d5[i])

A : None
C : None
D : None

### DICTIONARY MEMBERSHIP

In [104]:
a1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
a1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [105]:
'Name' in a1

True

In [106]:
'DOB' in a1

True

In [113]:
1991 in a1

False

In [107]:
d1

{1: 'one', 'A': 'two', 3: 'three', 5: 'four'}

In [108]:
1 in d1

True

In [112]:
'four' in d1

False

In [109]:
d2

{1: 'one', 'A': 'two', 3: 'three', 5: 'four'}

In [110]:
'A' in d2

True

In [111]:
'one' in d2

False

In [114]:
a1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [115]:
all(a1)

True

In [116]:
any(a1)

True

In [117]:
any(d5)

True

In [118]:
any(d1)

True